.cart{
  padding: 40px 0px 53px ;
}
.container {
 max-width: 1440px;
 padding: 0px 40px;
margin: 0 auto;

}

.titleWrapp{
  padding-bottom: 40px;
  display: flex;
  align-items: center;
}
.secondTitle{
  font-weight: 700;
font-size: 64px;
line-height: 1.1;
color: #282828;
margin-right: 32px;
}
.devider{
 border: 1px solid #ddd;
 width: 100%;
}
.primaryLink{
border: 1px solid #ddd;
border-radius: 6px;
padding: 8px 16px;
color: #ddd;
min-width: 170px;
text-decoration: none;

}

.wrapp{
    display: flex;
    flex-direction: column;
}
.text{
font-weight: 500;
font-size: 20px;
line-height: 1.3;
color: #282828;
margin-bottom: 32px;
}

.spoppingLink{
text-decoration: none;
border-radius: 6px;
padding: 16px 56px;
background: #0d50ff;
align-items: center;
font-weight: 600;
font-size: 20px;
line-height: 1.3;
text-align: center;
color: #fff;
max-width: 313px;

}